<owl-carousel-o [options]="customOptions" class="w-full">
  <!-- Slide 1 -->
  <ng-template carouselSlide>
    <img
      class="w-full h-[300px] sm:h-[400px] md:h-[500px] object-cover rounded-2xl"
      src="assets/images/lovely-romantic-cute-redhead-woman-prepared-gift-valentines-day-wrapped-present-pink-pape.jpg"
      alt="Slide 1"
    />
  </ng-template>

  <!-- Slide 2 -->
  <ng-template carouselSlide>
    <img
      class="w-full h-[300px] sm:h-[400px] md:h-[500px] object-cover rounded-2xl"
      src="assets/images/slider-image-3.jpeg"
      alt="Slide 2"
    />
  </ng-template>

  <!-- Slide 3 -->
  <ng-template carouselSlide>
    <img
      class="w-full h-[300px] sm:h-[400px] md:h-[500px] object-cover rounded-2xl"
      src="assets/images/slider-2.jpeg"
      alt="Slide 3"
    />
  </ng-template>
</owl-carousel-o>
