<div class="max-w-2xl border border-gray-200 mx-auto rounded my-10 p-8">
  <h1 class="text-red-600 font-bold text-2xl">Forget Password</h1>

  <form [formGroup]="authForm" (ngSubmit)="getValue()">
    <!-- Email -->
    <div class="p-4">
      <label for="email" class="block mb-2 text-sm font-medium text-gray-600 dark:text-white">
        Email
      </label>
      <input
        type="email"
        formControlName="email"
        id="email"
        class="bg-gray-50 border border-gray-300 p-4 text-gray-600 text-sm rounded-lg 
               focus:ring-gray-200 focus:border-gray-200 focus:outline-none block w-full 
               dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 
               dark:text-white dark:focus:ring-gray-200 dark:focus:border-gray-200"
        placeholder="qwee@gmail.com"
        required
      />

      <!-- Error Messages -->
      <app-erro-messages [control]="authForm.get('email')"></app-erro-messages>
    </div>

    <!-- Button -->
    <button 
      type="submit"
      class="rounded bg-red-700 hover:bg-red-700/80 transition-all duration-300 
             text-white py-3 px-8 mt-4"
    >
      send
    </button>
  </form>

  <!-- Success Message -->
  @if (statusMsg === "success") {
    <div class="mt-4 p-4 bg-teal-50 border border-teal-200 rounded-lg text-teal-800">
      {{ message }}
    </div>
  }

  <!-- Error Message -->
  @if (statusMsg === 'fail') {
    <div class="mt-4 p-4 bg-red-50 border border-red-200 rounded-lg text-red-800">
      {{ message }}
    </div>
  }
</div>
