@if (isLoaded) { @if(cartDetail.numOfCartItems!=0){
<section class="mx-8 px-4 pt-4 my-8 p-4">
  <h1 class="text-3xl font-bold text-gray-600 mt-10">Shop Cart</h1>

  <p class="text-red-700 mt-2">Total Cart Price : {{ cartDetail.data.totalCartPrice || 0 }} EGP</p>
  <div class="flex justify-between items-center mt-6">
    <button
      routerLink="/user/products"
      class="bg-red-700 text-white px-6 py-2 rounded-lg hover:bg-red-800 transition"
    >
      Continue Shopping
    </button>

    <button
  [routerLink]="['/user/address', cartDetail.cartId]"
  class="bg-blue-900 text-white px-7 py-2 rounded-lg hover:bg-blue-950 transition"
>
  Check Out {{ cartDetail.data.totalCartPrice }} EGP
</button>

  </div>

  @for (item of cartDetail.data.products; track $index) {
  <app-cart-item
    (updateItem)="updateQuantity($event.id, $event.count)"
    (removeItem)="removeItem($event)"
    [product]="item"
  ></app-cart-item>
  }
</section>
}@else {
<section class="mx-8 px-4 pt-4 my-8 p-4">
  <h1 class="text-4xl font-bold text-red-700 text-center mt-4">Cart Empty</h1>
  <h1 class="text-3xl font-bold text-gray-600 mt-10">Shop Cart</h1>

  <p class="text-red-700 mt-2">Total Cart Price : {{ cartDetail.data.totalCartPrice || 0 }} EGP</p>
  <div class="flex justify-between items-center mt-6">
    <button
      routerLink="/user/products"
      class="bg-red-700 text-white px-6 py-2 rounded-lg hover:bg-red-800 transition"
    >
      Continue Shopping
    </button>

    <button class="bg-blue-900 text-white px-6 py-2 rounded-lg hover:bg-blue-950 transition">
      Check Out
    </button>
  </div>
</section>

} }@else {
<section class="fixed inset-0 flex items-center justify-center z-50">
  <div class="text-center">
    <!-- Bars Loader -->
    <div class="flex items-end justify-center mt-10">
      <div class="w-2 h-6 bg-red-700 animate-[bounce_0.5s_infinite]"></div>
      <div class="w-2 h-8 bg-red-600 animate-[bounce_0.5s_infinite_0.1s]"></div>
      <div class="w-2 h-10 bg-red-500 animate-[bounce_0.5s_infinite_0.2s]"></div>
      <div class="w-2 h-8 bg-red-400 animate-[bounce_0.5s_infinite_0.3s]"></div>
      <div class="w-2 h-6 bg-red-300 animate-[bounce_0.5s_infinite_0.4s]"></div>
    </div>
  </div>
</section>
}
